{% extends ':home:index.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ '/plugin/jquery.plugin.js' }}"></script>
{% endblock %}
{% block body %}
    {% for flash_message in app.session.flashbag.get('message') %}
        <div class="alert alert-info" role="alert" style="margin: 5% 15% 1%">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ flash_message }}
        </div>
    {% endfor %}
    <div class="col-xs-12 col-md-offset-1 col-md-10">
        <h1> Управление категориями
            {% if is_granted("ROLE_MODERATOR") %}
                <a href="{{ path('create_category') }}" class="btn btn-default ">
                    <span class="glyphicon glyphicon-plus" style="color: #fff8e7"></span>
                </a>
            {% endif %}
        </h1>
        <div id="grid"></div>
    </div>
    <script>
        $('#grid').ajaxgrid({
            url: '/categories',
            sortableColumns: ['name'],
            filterableColumns: ['name'],
            itemsPerPage: [6, 12, 20],
            page: 1,
            view: 'table',
            headers: ['#', 'Название категории', 'Родительская категория']
        });
    </script>
{% endblock %}