<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Sweetland{% endblock %}</title>
        {% block stylesheets %}
            {#<link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" />#}
            {% stylesheets 'css/*' filter='cssrewrite' %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        {% block javascripts %}
            {% javascripts 'js/*' %}
            <script src="{{ asset_url }}"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
            {% endjavascripts %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('candy.ico') }}" />
    </head>
    <header>
        {% block header %}{% endblock %}
    </header>
    <body>
        {% block body %}{% endblock %}

    </body>
</html>
