{% extends ':home:index.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ '/plugin/jquery.plugin.js' }}"></script>
    <script>
        $(document).ready(function () {
            $(document).on('mouseenter', '.product', function () {
                $(this).find(".admin").show();
            }).on('mouseleave', '.product', function () {
                $(this).find(".admin").hide();
            });
        });
    </script>
{% endblock %}
{% block body %}
    {% include 'menu/sidebar.html.twig' %}

    {% for flash_message in app.session.flashbag.get('message') %}
        <div class="alert alert-info" role="alert" style="margin: 5% 5% 1% 25%">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ flash_message }}
        </div>
    {% endfor %}

    <input type="hidden" id="userRole">
    <div class="col-xs-12 col-md-9">
        <h1> Каталог товаров </h1>
        <div id="grid"></div>
    </div>

    <script>
        var role = 'user';
    {% if is_granted("ROLE_MODERATOR") %}
        role = 'moderator';
    {% else %}
        role = 'user';
    {% endif %}
        $('#userRole').val(role);

        $('#grid').ajaxgrid({
            url: '/products', // URL, с которого тянуть данные
            sortableColumns: ['name', 'price'], // массив с именами полей сущности, по которым должна быть возможна сортировка
            filterableColumns: ['name', 'price', 'manufacturer'], // массив с именами полей сущности, по которым должна быть возможна фильтрация
            itemsPerPage: [8, 12, 20], // количество единиц на страницу для пагинации
            page: 1,
            role: role,
            view: 'bricks'
        });
    </script>
{% endblock %}