html {
    height: 100%;
}

body {
    font-family: 'Roboto, sans-serif', sans-serif;
    margin: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom,  #fff4e6, #ffffff);
    background-repeat: no-repeat;

}

.header {
    /*background: #F7F7F7;*/
    border: none;
}

.navbar {
    /*box-shadow: 0 0 10px rgba(0,0,0,0.5);*/
    background:  #f59ca0;
    border: none;
    /*margin: 0;*/
    /*border-color: inherit;*/
}

.navbar-nav {
    margin: 0;
}
.openLoginForm {
    float: right;
}

.social-icon {
    margin-right: 1%;
}

.modal-content {
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
    background-color: #fffff5;
}

.btn.btn-default {
    border-radius: 0;
    color: #f6fff4;
    background-color: #f3848d;
    height: 35px;
    border: none;
    text-shadow: none;
}

.form-control {
    border-radius: 0;
    font-size: 14px;
}

form {
    border: none;
}

form input {
    height: 30px;
}

.modal-header {
    /*color: white;*/
    height: 45px;
    text-align: center;
    background-color: #f3848d;
}

label {
    font-size: 14px;
    /*font-family: "MuseoSansRounded",Helvetica,sans-serif;*/
}

#login_logup {
    margin-top: 8px;
}

.icon-bar {
    margin-top: 15px;
    overflow: hidden;
}

.icon-bar a {
    margin-top: 8px;
    width: 20%;
    height: 30%;
    text-align: center;
    padding: 12px 0;
    transition: all 0.3s ease;
    font-size: 20px;
    background-color: #777777;
    color: #f3848d;
}

.icon-bar a:hover {
    background-color: #bcb8ff;
}

/*.active {*/
    /*background-color: #9ea1ff !important;*/
/*}*/

.login{
    /*height: 190px;*/
    overflow: hidden;
}

.register {
    /*height: 440px;*/
    overflow: hidden;
}

.forgotPassword {
    /*height: 100px;*/
    overflow: hidden;
}

.login div {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 10px;
    height: auto;
}

.register div {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 10px;
}

.forgotPassword div {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 10px;
}

.error {
    color: #f3848d;
    font-size: 14px;
}

.navbar-form {
    border:none;
}

.mainMenu {
    /*padding-top: 15px;*/
    margin-top:  -20px;
    /*padding-bottom: 30px;*/
    /*width: 100%;*/
    /*height: 100%;*/

    /*overflow: hidden;*/
    /*height: 100px;*/
    background-color: #fff4e6;
}

.mainMenu ul {
    width: 100%;
    /*height: 100%;*/
    /*clear: both;*/
}
.mainMenu li {
    display: inline-block;
    /*float: left;*/
    text-align: center;
    /*padding-left: 5%;*/
    font-size: 14px;
    font-family: tahoma,arial,sans-serif;
}

li a {
    color: #bb646d;
}

a:hover li:hover {
    color: #f59ca0;
    text-decoration: none;
    background-color: inherit;
}

.dropdown-menu {
    border-radius: 0;
    /*color: #bb646d;*/
    background-color: #fff4e6;
    border: none;
}

.dropdown-menu li {
    display: block;
}

.dropdown-menu > li > a:hover {
    background-color: inherit;
    background-image: none;
    color: #bb646d;
    text-decoration: underline;
}

.needLogin {
    /*display: inline;*/
    min-width: 100%;
    min-height: 100%;
    position: relative;
    font-size: 60px;
    color: #bb646d;
    /*text-align: center;*/
    /*background-color: #fffdf5;*/
    font-family: tahoma,arial,sans-serif;
    /*overflow: auto;*/
}

.needLogin img {
    position: absolute;
    float: right;
    top: 20px;
    /*left: 0;*/
}

li {
    list-style-type: none;
}

h1 {
    margin-top: 0;
}

li.first.last ul {
    /*margin-left: -20px;*/
}

ol.breadcrumb {
    display: inline-block;
    background: white;
    padding: 0;
}

.product:hover {
    z-index: 1;
    box-shadow: 0 0 8px rgba(0,0,0,0.5);
}

.product {
    padding-bottom: 1%;
    position: relative;
}

img {
    width: 100%;
    height: 100%;
}

.return * {
    color: #974c53;
    padding-top: 1%;
    /*height: 100%;*/
}

.admin {
    right: 0;
    position: absolute;
}

#edit_product {
    width: 280px;

    /*width: 400px;*/
}

#edit_product div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1%;
}
div textarea {
    margin-left: 2%;
}

