{% extends ':home:index.html.twig' %}

{% block body %}
    <div class="return col-xs-1 col-sm-3 col-md-2">
        <a onclick="javascript:history.back(); return false;">
            <i class="glyphicon glyphicon-chevron-left"></i>
            <span class="hidden-xs">{{ 'return'|trans }}</span>
        </a>
    </div>
    <div class="col-xs-12 col-sm-offset-1 col-sm-6">
        <h2 style="margin: 2% 0 4% 0">{{ 'navbar.about'|trans }}</h2>
        <p>Курсовой проект "Каталог товаров" разработан от
            большой любви к программированию и сладкому </p>
    </div>
{% endblock %}