{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/app/js/validation.js') }}"></script>
    <script>
        $(document).ready(function() {
            $('li.dropdown').hover(function () {
                $(this).find('.dropdown-menu').stop(true, true).delay(100).fadeIn(200);
            }, function () {
                $(this).find('.dropdown-menu').stop(true, true).delay(100).fadeOut(200);
            });
        });
    </script>
{% endblock %}
{% block header %}
    {% include ':menu:header.html.twig' %}
    {% if not is_granted("ROLE_USER") %}
        {% include ':security:securityModals.html.twig' %}
    {% else %}
        {% block nav %}
            {% set menu = knp_menu_get('main', [], {'user': app.user.role}) %}
            {{ knp_menu_render(menu) }}
        {% endblock %}
    {% endif %}
{% endblock %}
{% block body %}
    {% for flash_message in app.session.flashbag.get('message') %}
        <div class="alert alert-info" role="alert" style="margin: 5% 15% 1%">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ flash_message }}
        </div>
    {% endfor %}
{% endblock %}




