<div class="well" style="width:280px; padding: 8px 0; display: inline-block">
    <ul class="nav nav-list" name="root">
    </ul>
</div>

<script src="{{ asset('bundles/app/js/sidebarCreate.js') }}"></script>