{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ 'js/validation.js' }}"></script>
    {#<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>#}
    <script>
        let openSearch = false;
        function openSearchForm() {
            if (!openSearch) {
                document.getElementById('searchForm').classList.remove("hidden-xs");
                document.getElementById('searchForm').classList.remove("hidden-sm");
                openSearch = true;
            } else {
                document.getElementById('searchForm').classList.add("hidden-xs");
                document.getElementById('searchForm').classList.add("hidden-sm");
                openSearch = false;
            }
        }

        $(document).ready(function() {
            $('li.dropdown').hover(function () {
                $(this).find('.dropdown-menu').stop(true, true).delay(100).fadeIn(200);
            }, function () {
                $(this).find('.dropdown-menu').stop(true, true).delay(100).fadeOut(200);
            });


            $('.login').on('submit',function(e){
                e.preventDefault();
                var data = $('form[class="login"]').serialize();
                console.log(data);
                $.ajax({
                    type: 'POST',
                    url: 'login',
                    dataType: 'json',
                    data:  data,
                    success: function () {
                        //var d = $.parseJSON(JSON.stringify(resp));

//                        console.log('s');
                    },
                    complete: function () {
                    }
                })
            });
        });

    </script>
{% endblock %}
{% block header %}
    {% include ':menu:header.html.twig' %}
{% endblock %}
{% block nav %}
    <div class="mainMenu">
        {{ knp_menu_render('main', {'currentClass': 'active'}) }}
    </div>
{% endblock %}
{% block body %}
    {{ knp_menu_render('sidebar', {'currentClass': 'active'}) }}
{% endblock %}




